@font-face {
	font-family: "iconfont";
	src: url('../fonts/iconfont.eot?t=1463295492');
	/* IE9*/
	src: url('../fonts/iconfont.eot?t=1463295492#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/iconfont.woff?t=1463295492') format('woff'), /* chrome, firefox */
	url('../fonts/iconfont.ttf?t=1463295492') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('../fonts/iconfont.svg?t=1463295492#iconfont') format('svg');
	/* iOS 4.1- */
}
 
.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

.icon-like:before {
	content: "\e601";
}

.icon-image:before {
	content: "\e604";
}

.icon-download:before {
	content: "\e609";
}

.icon-color:before {
	content: "\e607";
}

.icon-bin:before {
	content: "\e608";
}

.icon-thumb:before {
	content: "\e600";
}

.icon-share:before {
	content: "\e602";
}

.icon-save:before {
	content: "\e60d";
}

.icon-down:before {
	content: "\e605";
}

.icon-up:before {
	content: "\e606";
}

.icon-change:before {
	content: "\e60c";
}

.icon-remove:before {
	content: "\e60a";
}

.icon-menu:before {
	content: "\e603";
}

.icon-text:before {
	content: "\e60b";
}