body {
	font-family: "微软雅黑";
	background-color: white;
}


/*navbar*******/

.navBar {
	height: 65px;
	line-height: 75px;
	background-color: #F89406;
	padding: 0;
}

.navBar .quarter {
	display: inline-block;
	width: 24%;
	padding: auto;
}

.navBar .quarter1,
.navBar .quarter2 {
	text-align: left;
}

.navBar .quarter3,
.navBar .quarter4 {
	text-align: right;
}

.navBar a {
	color: white;
	font-size: 17px;
}

.navBar .mui-icon {
	color: white;
	font-size: 26px;
}

.navBar .active {
	font-size: 21px;
}

.leftButton {
	top: 15px;
	float: left;
	left: 20px;
	font-size: 35px;
}

.rightButton {
	top: 15px;
	float: right;
	right: 20px;
	font-size: 35px;
}

.search {
	height: 65px;
	width: 80%;
	display: block;
	padding-left: 50px;
	background-color: #F89406;
	z-index: 9999;
	position: fixed;
	top: 0px;
}

#searchInput {
	color: white;
}

.mui-backdrop {
	/*mask*/
	position: fixed;
	top: 70px;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -9999;
	background-color: rgba(0, 0, 0, .3);
}


/*end-navbar*******/


/*footer*******/

.mask {
	height: 170px;
	background: -webkit-linear-gradient( rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 1) 50%);
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 9999;
}

.circle {
	height: 70px;
	line-height: 70px;
	width: 70px;
	border-radius: 35px;
	display: block;
	float: right;
	margin-top: 35px;
	margin-right: 20px;
	z-index: 9999;
	box-shadow: 0px 2px 8px #000;
	text-align: center;
	padding: 15px;
	background: -webkit-radial-gradient(#FCC475, #F89406);
}

.circle:active {
	-webkit-transform: translateY(4px);
	background: #4ecdc4;
}

.circle .plusIcon {
	width: 40px;
}


/*end: ;-footer*******/


/*pictures*****/

.half-container {
	width: 47%;
	margin-bottom: auto;
	margin-right: auto;
	display: inline-block;
	vertical-align: top;
}

.container {
	width: 100%;
}

.picShow {
	position: relative;
	margin: 10px;
	padding: 1%;
	width: 100%;
	border: 1px solid #CCCCCC;
}

.picShow .name {
	font-size: 18px;
}

.emotIcon {
	width: 100%;
}

.picShow .picIcon {
	font-family: "微软雅黑";
	color: #737383;
	padding: 0!important;
	margin: 0!important;
}

.picShow .picIcon span {
	font-size: 12px;
}

.mui-table-view:before {
	background-color: #fff;
}

.mui-table-view:after {
	background-color: #fff;
}

.iconfont {
	color: #737383;
}

.iconfont:active {
	color: #f89406;
}

#front {
	z-index: -9999;
}

#detail {
	background-color: #aaaaaa;
	z-index: 999;
	width: 98%;
	height: 98%;
	position: absolute;
	visibility: hidden;
}

#detail p {
	color: black;
	width: 100%;
}


/*end-pictures*****/


/*scroll********/

#refreshContainer {
	background-color: white;
}